---
layout: splash

permalink: "/screenshots/"
title: "Screenshots"

sidebar:
  nav: "features"

---
<div id="movies_v4">
  <h1 class="gallery__title">Movies - v4</h1>
  {% gallery movies %}
  v4/movies/
  {% endgallery %}
</div>

<div id="moviesets_v4" class="full-width-background">
  <h1 class="gallery__title">Movie Sets - v4</h1>
  {% gallery moviesets %}
  v4/moviesets/
  {% endgallery %}
</div>

<div id="tvshows_v4">
  <h1 class="gallery__title">TV Shows - v4</h1>
  {% gallery tvshows %}
  v4/tvshows/
  {% endgallery %}
</div>

<div id="settings_v4" class="full-width-background">
  <h1 class="gallery__title">Settings - v4</h1>
  {% gallery settings %}
  v4/settings/
  {% endgallery %}
</div>

<div id="dark_v4">
  <h1 class="gallery__title">Dark Theme - v4</h1>
  {% gallery dark %}
  v4/dark/
  {% endgallery %}
</div>

<div id="movies_v3" class="full-width-background">
  <h1 class="gallery__title">Movies - v3</h1>
  {% gallery movies %}
  v3/movies/
  {% endgallery %}
</div>

<div id="moviesets_v3">
  <h1 class="gallery__title">Movie Sets - v3</h1>
  {% gallery moviesets %}
  v3/moviesets/
  {% endgallery %}
</div>

<div id="tvshows_v3" class="full-width-background">
  <h1 class="gallery__title">TV Shows - v3</h1>
  {% gallery tvshows %}
  v3/tvshows/
  {% endgallery %}
</div>

<div id="settings_v3">
  <h1 class="gallery__title">Settings - v3</h1>
  {% gallery settings %}
  v3/settings/
  {% endgallery %}
</div>

<div id="dark_v3" class="full-width-background">
  <h1 class="gallery__title">Dark Theme - v3</h1>
  {% gallery dark %}
  v3/dark/
  {% endgallery %}
</div>
